/* Base Styles */

* {
    box-sizing: border-box;
}

html {
    font: 1.2em/1.4 Arial, Helvetica, sans-serif;
}

body {
    padding: 0 0 1em;
}

header {
    background-color: #333;
    color: #fff;
    border: 5px solid #000;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    border-top: 1px solid #999;
}

header .title {
    font-size: 150%;
    font-style: italic;
    font-weight: bold;
    padding: 1em;
}

main {
    padding: 0 1em;
}

nav {
    display: inline;
}

.cards {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards li {
    border: 5px solid #000;
    margin-bottom: 1em;
}

.cards h2 {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0.5em 1em;
}

.cards .inner {
    padding: 0.5em 1em;
}

.sidebar {
    background-color: #333;
    border: 5px solid #000;
    padding: 0.5em 1em;
    color: #fff;
}

/* Responsive Stuff Here! */

/* Desktop screen size */
@media screen and (min-width: 1025px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .title {
        font-size: 24px;
    }

    nav {
        display: flex;
        justify-content: flex-end;
    }

    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin-left: 10px;
    }

    header a {
        border: none;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px;
    }

    main {
        display: grid;
        grid-template-columns: 3fr 1fr;
        padding: 10px;
    }

}